html, body {
	height: 100%;
	margin: 0;
}

.active {
	background-color: white;
	color: black;
}

li {
	padding: 10px;
	cursor: pointer;
}

li:hover {
	background-color: #a9a9a9;
}

.sidebar-wrapper {
	background-color: #d14747;
	position: absolute;
	height: 100%;
	padding-left: 20px;
	width: 200px;
	overflow: hidden;
	color: white;
	transition: width 0.5s ease-out;
}

.container {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cog {
	background-color: #424242;
	width: 10%;
	padding-left: 20px;
	padding-right: 20px;
}

.difficulty-list {
	list-style: none;
	padding-left: 0;
}

.difficulty {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.btn {
	cursor: pointer;
	margin-top: 10px;
	position: relative;
}

.bordered-cell {
	border: 1px solid black;
	width: 50px;
	height: 50px;
}

.bordered-cell:hover {
	background-color: #A9A9A9;
	cursor: pointer;
}

.clicked {
	background-color: #47a3d1;
}

.clicked:hover {
	background-color: #47a3d1;
}

.clicked-bomb {
	background-color: #d14747;
}

.clicked-bomb:hover {
	background-color: #d14747;
}

.number-hidden {
	display: none;
}

.number-active {
	display: inline;
}

.social-link {
	text-decoration: none;
	color: white;
}

.sidebar-group {
	font-size: 20px;
}

.links {
	position: absolute;
	bottom: 25px;
}

.end {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.75;
}
.end-text {
	color: white;
	position: absolute;
	opacity: 1.0;
	left: 50%;
	transform: translate(-50%);
	font-size: 108px;
	font-weight: 800;
}

.end-btn:hover {
	color: #ccc;
}

.na {
	display: none;
}

.hidden {
	overflow: hidden;
	width: 0;
}
#board {
	height: 500px;
}

#score-board {
	text-align: left;
}