html, body {
	height: 100%;
	margin: 0;
}

.sidebar-wrapper {
	position: absolute;
	height: 100%;
	padding-left: 10px;
}

.container {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.difficulty-list {
	list-style: none;
	padding-left: 0;
}

.difficulty {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.btn {
	cursor: pointer;
	margin-top: 10px;
	position: relative;
}

.bordered-cell {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	background-color: gray;
}

.bordered-cell:hover {
	background-color: #A9A9A9;
	cursor: pointer;
}

.clicked {
	background-color: #47a3d1;
}

.clicked:hover {
	background-color: #47a3d1;
}

.clicked-bomb {
	background-color: #d14747;
}

.clicked-bomb:hover {
	background-color: #d14747;
}

.number-hidden {
	display: none;
}

.number-active {
	display: inline;
}

#board {
	height: 500px;
}