html, body {
	height: 100%;
}

.container {
	text-align: center;
	height: auto;
}

.btn {
	background-color: gray;
	color: white;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
}

.btn:hover {
	background-color: #A9A9A9;
}

.bordered {
	padding-top: 50px;
}

.bordered-cell {
	border: 1px solid black;
	width: 25px;
	height: 25px;
	background-color: gray;
}

.bordered-cell:hover {
	background-color: #A9A9A9;
	cursor: pointer;
}

.clicked {
	background-color: #47a3d1;
}

.clicked:hover {
	background-color: #47a3d1;
}

.clicked-bomb {
	background-color: #d14747;
}

.clicked-bomb:hover {
	background-color: #d14747;
}

.number-hidden {
	display: none;
}

.number-active {
	display: inline;
}

#board {
	height: 500px;
}